@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
body{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 7%, 18%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(47, 0%, 100%, 0.17)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}
:root {
  --primary-color: #424874;
  --secondary-color: #A6B1E1;
  --light-color: #DCD6F7;
  --text-color: #F4EEFF;
}

.nav-bg-color {
  background-color: var(--primary-color);
}

.navbar-nav .nav-item .nav-link,
.navbar .navbar-brand {
  color: var(--text-color);
}

.head {
  padding-top: 5rem;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'%3E%3Crect x='0' y='0' width='100%' height='100%' fill='hsla(240, 7%, 18%, 0)'/%3E%3Cpath d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z' stroke-width='1' stroke='hsla(47, 0%, 100%, 0.05)' fill='none'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/%3E%3C/svg%3E");
}

.header {
  font-size: 50px;
  color: var(--text-color);
}

.resume {
  text-decoration: none;
  color: white;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 5px;
  font-size: 27px;
}

.myImage {
  pointer-events: none;
}

.part2 {
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'%3E%3Crect x='0' y='0' width='100%' height='100%' fill='hsla(240, 7%, 18%, 0)'/%3E%3Cpath d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z' stroke-width='1' stroke='hsla(47, 0%, 100%, 0.05)' fill='none'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/%3E%3C/svg%3E");

}
.part2 h1 {
  text-decoration: 5px underline var(--text-color);
  color: var(--text-color);
}

.skills h1 {
  text-decoration: 5px underline var(--main3-color);
}

.contact h1 {
  text-decoration: 5px underline var(--text-color);
}
.projects h1{
  text-decoration: 5px underline var(--text-color);

}
.svg {
  width: 100%;
}

.intro {
  font-size: x-large;
  color: var(--text-color);
}

.skills {
  background-color: var(--secondary-color);
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 7%, 18%, 0)'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='hsla(47, 0%, 100%, 0.07)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  color: var(--main-color);
}

.projects{
  background-color:var(--secondary-color);
  background-image: url("data:image/svg+xml,%3Csvg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'%3E%3Crect x='0' y='0' width='100%' height='100%' fill='hsla(240, 7%, 18%, 0)'/%3E%3Cpath d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5' stroke-width='1' stroke='none' fill='hsla(47, 0%, 100%, 0.07)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/%3E%3C/svg%3E");
}
.skills div h3 {
  text-align: center;
}
#skill-icon {
  text-align: center;
}
#skill-icon img {
  width: 150px;
  margin: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 1px 14px -5px rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.contact {
  color: var(--text-color);
  background-color: black;
}

.contact a {
  text-decoration: none;
  color: var(--text-color);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .head {
    padding-top: 80px;}
  .header {
    font-size: 30px;
    text-align: center;
  }

  .resumemain {
    text-align: center;
  }

  .intro {
    width: 90%;
    font-size: larger;
    margin: auto;
    text-align: justify;
  }
}

p {
  text-align: left;
}
