:root{
    --main-color:#5cdb95;
    --text-color:#05386b;
  }
.skill-list li{
    background-color: var(--text-color);
    width: 30%;
    color: var(--main-color);
    padding: 5px;
    margin: 10px auto ;
    font-size: larger;
    align-items:end;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobile-hide {
    display: none;
  }
}

